{% include "receitas/partials/head_home.html" %}

<body>

    {% include "receitas/partials/header_home.html" %}
    
    {% include "receitas/partials/search_box.html" %}
    

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {% include "receitas/partials/receita.html" %}
            {% include "receitas/partials/receita.html" %}
            {% include "receitas/partials/receita.html" %}
        </div>
    </main>

    {% include "receitas/partials/footer.html" %}
</body>
</html>
