{% extends "global/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% comment %}  LINKS {% endcomment %}
{% block links %}
<link rel="stylesheet" href="{% static 'authors/CSS/styles2.css' %}">
{% bootstrap_css %}
{% endblock links %}


{% block title %}Dash Board | {% endblock title %}

    
{% comment %} CONTEUDO {% endcomment %}
{% block content %}
    
    <div class="main-content center container">
        <h2>Dashboard | {{ user }}</h2>
        {% if request.user.is_authenticated %}
            <div class="login-message" style="flex-direction: row;">
                Your are logged in with 
                {{ request.user.username }}. 
                Please,
                click here to
                
                <form class="inline-form" action="{% url 'authors:logout' %}" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name="username" value="{{ request.user.username }}">
                    <a href="{% url 'authors:logout' %}" class="login100-form-btn" style="margin-top: 15px; color: red;">
                        logout
                    </a> 
                    
                </form> 
            </div>
        {% endif %}
        
        <!-- LINK || A  || RECEBER O ID PELO A E DIRECIONAR PARA O HTML DE EDICAO -->
        <div class="authors-dashboard-containers" >
            <h3>Suas Receitas</h3>
            <ul>
                {% for recipe in recipes  %}
                    <li>
                        <a href="#">
                            {{ recipe.title }}
                        </a>
                    </li>
                {% empty %}
                    <li>
                        <p>Voce nao tem receitas, {{ author }}. por favor crie uma!</p>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
    

{% bootstrap_javascript jquery='full' %}
{% endblock content %}