{% extends 'global/user_base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'authors/CSS/login.css' %}">
{% endblock links %}

{% block title %}Login | {% endblock title %}


{% block content %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url('/media/authors/image/image.png');">
                <span class="login100-form-title-1">
                    Bem Vindo!
                </span>
            </div>

            <form class="login100-form validate-form" method="POST" autocomplete="off">
                {% csrf_token %}

                <!-- USERNAME -->
                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                    <span class="label-input100">Username</span>
                    <input class="input100" type="text" name="username" placeholder="Enter username">
                    <span class="focus-input100"></span>
                </div>

                <!-- SENHA -->
                <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="password" name="pass" placeholder="Enter password">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-b-30">
                    <div style="margin-top: 15px;">
                        <a href="{% url 'authors:RegisterView' %}" class="txt1">
                            Registrar-se
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn" style="margin-top: 5px;">
                    <button class="login100-form-btn" style="margin-top: 15px;">
                        Login
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock content %}


