{% extends "global/user_base.html" %}
{% load static %}

{% comment %}  LINKS {% endcomment %}
{% block links %}
<link rel="stylesheet" href="{% static 'authors/CSS/styles.css' %}">
{% endblock links %}


{% block title %}Register User | {% endblock title %}

    
{% comment %} CONTEUDO {% endcomment %}
{% block content %}

<div class="container">

    <div class="title">Registro</div>

    <div class="content">
        <form action="#">
            {% include "authors/partials/user_detail.html" %}
            {% include "authors/partials/gender_detail.html" %}

            <div class="button">
            <input type="submit" value="Register">
            </div>
        </form>
    </div>

</div>

{% endblock content %}