{% load bootstrap4 %}
<div class="user-details">

    <!-- Input for Username -->
    <div class="input-box">
      <span class="details">Nome de Usuario</span>
      {{ form.username }}
    </div>
    
    <!-- Input for Full Name -->
    <div class="input-box">
      <span class="details">Primeiro Nome</span>
      {{ form.first_name }}
    </div>
    
    <!-- Input for Last Name -->
    <div class="input-box">
      <span class="details">Ultimo Nome</span>
      {{ form.last_name }}
    </div>

    <!-- Input for Email -->
    <div class="input-box">
      <span class="details">Email</span>
      {{ form.email }}
    </div>

    
    <!-- Input for Password -->
    <div class="input-box">
      <span class="details">Senha</span>
      {{ form.password }}
    </div>
    
    <!-- Input for Confirm Password -->
    <div class="input-box">
      <span class="details">Confirme sua Senha</span>
      {{ form.password2 }}
    </div>
    

  </div> 