<div class="user-details">

    <!-- Input for Full Name -->
    <div class="input-box">
      <span class="details">Primeiro Nome</span>
      <input type="text" placeholder="Digite seu Nome" required>
    </div>
    
    <!-- Input for Last Name -->
    <div class="input-box">
      <span class="details">Ultimo Nome</span>
      <input type="text" placeholder="Digite seu Ultimo Nome" required>
    </div>

    <!-- Input for Username -->
    <div class="input-box">
      <span class="details">Nome de Usuario</span>
      <input type="text" placeholder="Digite seu Nome de Usuario" required>
    </div>

    <!-- Input for Email -->
    <div class="input-box">
      <span class="details">Email</span>
      <input type="text" placeholder="ex: exemploemail@gmail.com" required>
    </div>


    <!-- Input for Password -->
    <div class="input-box">
      <span class="details">Senha</span>
      <input type="text" placeholder="Digite sua Senha" required>
    </div>

    <!-- Input for Confirm Password -->
    <div class="input-box">
      <span class="details">Confirme sua Senha!</span>
      <input type="text" placeholder="Confire sua Senha" required>
    </div>
  </div>